.grid {
  border: 1px solid black;
  height: 180px;
  margin: 5px;
  font-size: 0.6em;
  cursor: pointer;
}

.grid_row {
  width: 1200px;
}

.grid_label {
  text-align: center;
  height: 32px;
  margin: -8px;
  color: #555;
  font-size: 9px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .05rem;
  text-decoration: none;
}

.grid_month {
  margin-left: 50%;
  margin-top: -20px;
  font-family: monospace;
  font-size: 8px;
  color: #555;
}