{% extends 'graphs/base.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'graphs/css/about.css' %}"> 
{% endblock styles%}

{% block body %}
    <div class="row about">
        <div class="two columns" style="margin-top: 2%"></div>
        <div class="eight columns" style="margin-top: 2%">
            <h6 class="docs-header">About</h6>
            <p>
                Net*works 1.0 is a graphical representation of changes in the social network of stroke patients at
                3 and 6 months after an incident of ischemic stroke. The aim of the project is to prototype
                a visual representation of the transformation of social networks of stroke patients.
                The project has its inception in a study conducted
                by the Dhand Lab at Brigham and Women's Hospital examining the social aspect of stroke recovery.
                The study used a quantitative assessment tool to parametrize different facets of a patient's
                social network and analyzed the relationship between the structure of patients' social network
                and their recovery. Drawing upon the quantitative representation of social networks generated
                by the study, this project builds a graphical representation of each patient's social network
                over the course of 6 months post stroke.
            </p>
            <p>
                To learn more visit <a href="https://www.dhandlab.com/">dhandlab.com</a>
            </p>
            <h6 class="docs-header">Author</h6>
            <p>
                Daniel Chafamo is a software engineer and aspiring physician. He graduated from Harvard
                University in 2019 with a Bachelor's Degree in Computer Science.

                As an undergrad, Daniel worked in the Born Lab at Harvard Medical School and
                the Fukai Lab at Riken Brain Science Institute exploring the purpose of feedback
                neural connections in visual and auditory neural circuits.

                He is a believer in the power of technology and its ability to improve patient care.
                He enjoys using his skills to contribute to exciting technological projects aimed at making
                healthcare more effective, less expensive, and more equitable. He was a research trainee
                at the Dhand Lab in 2018 where he assisted in the <i>Social Networks and Stroke Outcomes</i> project
                and developed this website.
                In his free time, Daniel likes to read Russian novels, play soccer and hike.
            </p>
            

        </div>
        <div class="two columns " style="margin-top: 2%">
        </div>


    </div>
{% endblock body %}