<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>NET*WORKS 1.0</title>
    <meta name="description" content="">
    <meta name="author" content="Daniel Chafamo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'> -->

    {% load static %}

    <link rel="stylesheet" href="{% static 'graphs/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'graphs/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'graphs/css/grid.css' %}">
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{% static 'graphs/css/nouislider.css' %}">
    <link rel="stylesheet" href="{% static 'graphs/css/tl.css' %}">
    <link rel="icon" type="image/png" href="{% static 'graphs/images/networks.png' %}">

    {% block head %}{% endblock head %}
</head>
<body style="background-color:'#FFFAF0';">

<div class="container">
    <form id="target">
        <nav class="navbar">
            <div class="container">
                <ul class="navbar-list">
                    <li class="navbar-item"><a class="navbar-link" href="{% url 'Index' %}">Home</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="{% url 'Grid' %}">Grid</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="{% url 'About' %}">About</a></li>
                </ul>
            </div>
        </nav>
    </form>
    <div class="row grid_row">
        {% for s_id in study_id %}
            {% if forloop.counter0|divisibleby:3 %}
                </div>
                <div class="row grid_row">
            {% endif %}
            <div class="four columns grid">
                <div id="pid"> <a href="{% url 'Graph' %}?initial={{forloop.counter}}">Patient {{ s_id }}</a></div>
                <div id="grid_{{ forloop.counter }}"></div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- STYLES AND SCRIPTS -->
<script>
      var feats = {% autoescape off %}{{ feats }}{% endautoescape %};

</script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'graphs/js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'graphs/js/nouislider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'graphs/js/grid.js' %}"></script>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

