<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>NET*WORKS 1.0</title>
  <meta name="description" content="">
  <meta name="author" content="Daniel Chafamo">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  {% load static %}

  <link rel="stylesheet" href="{% static 'graphs/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'graphs/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'graphs/css/graph.css' %}">
  <link rel="stylesheet" href="{% static 'graphs/css/tl.css' %}">
  <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="{% static 'graphs/css/nouislider.css' %}">
  <link rel="icon" type="image/png" href="{% static 'graphs/images/networks.png' %}">

  {% block head %}{% endblock head %}
</head>
<body>

  {% block body %}{% endblock body %} 

    <div class="container">
      <form id="target">
        <nav class="navbar">
          <div class="container">
            <ul class="navbar-list">
              <li class="navbar-item"><a class="navbar-link" href="{% url 'Grid' %}">Home</a></li>
              <li class="navbar-item"><a class="navbar-link" href="{% url 'Index' %}">Index</a></li>
              <li class="navbar-item"><a class="navbar-link" href="{% url 'About' %}">About</a></li>
            </ul>
          </div>
        </nav>
        <div class="row"> 
          <div class="four columns" style="margin-top: 2%"></div>
          <div class="four columns" style="margin-top: 2%"> 
              <input type="search" class="u-full-width" placeholder="Patient ID" id="patientID" required>
          </div>  
          <div class="four columns noleftmargine" style="margin-top: 2%">
            <button id="submitid" type="submit" class="button-primary search"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="three columns" style="margin-top: 0%">
          <!-- <h5>Filter</h5> -->
          <h5>Filter</h5><div class="pIDs" id="pIDs"></div> 
          <div>  
            Network Size [0 - 22]
            <p class="split-para" style="margin-bottom: 0px">
              <span id="range0" class="sliders"></span>
            </p>
            Network Density [0 - 1]
            <p class="split-para" style="margin-bottom: 0px">
              <span id="range1" class="sliders"></span>
            </p>
            Constraint [18 - 112]
            <p class="split-para" style="margin-bottom: 0px">
              <span id="range2" class="sliders"></span>
            </p>
            Kin Proportion [0 - 1]
            <p class="split-para" style="margin-bottom: 0px">
              <span id="range3" class="sliders"></span>
            </p>
            Turnover Rate [0 - 100]
            <p class="split-para" style="margin-bottom: 0px">
              <span id="range4" class="sliders"></span>
            </p>
          </div>
        </div>
        <div class="nine columns" style="margin-top: 0%"> 


          <!-- Spread -->
          <div class="slideshow-container"> 

            <div class="label">PATIENT 123</div>
            <div id="container" style="height: 500px; width: 800px"></div> 



          </div>
          <br>
          <form id="index_graph">
            <div class="row">
              <div class="one columns">
                <label for="featureX">X:</label>
              </div>
              <div class="four columns noleftmargine">
                <select class="u-full-width" id="featureX">
                  <option value="PhyFunc_TScore">Physical Function TScore</option>
                  <option value="SocialSat_TScore">Social Satisfaction TScore</option>
                  <option value="smoking_prop">Smokers in Network</option>
                  <option value="network.size">Network Size</option>
                  <option value="constraint">Network Constraint</option>
                  <option value="density">Network Density</option>
                </select>
              </div>
              <div class="one columns">
                <label class="u-full-width" for="featureY">Y:</label>
              </div>
              <div class="four columns noleftmargine">
                <select class="u-full-width" id="featureY">
                  <option value="SocialSat_TScore">Social Satisfaction TScore</option>
                  <option value="PhyFunc_TScore">Physical Function TScore</option>
                  <option value="smoking_prop">Smokers in Network</option>
                  <option value="network.size">Network Size</option>
                  <option value="constraint">Network Constraint</option>
                  <option value="density">Network Density</option>
                </select>
              </div>
              <div class="two columns">
                <input class="button-primary" type="submit" value="Graph">
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  

    <!-- STYLES AND SCRIPTS --> 
    <script>var feats = {% autoescape off %}{{ feats }}{% endautoescape %};</script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'graphs/js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'graphs/js/nouislider.min.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js"> </script>
    <script type="text/javascript" src="{% static 'graphs/js/index.js' %}" ></script>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>